@function theme-dark() {
//global sass colors

$default_dark_blue: darkblue;
    $default_blue: blue;
    $default_orange: darkorange;
    $default_red: tomato;
//$default_grey: grey;
    $default_grey: rgb(51, 51, 51);
    $default_green: green;
//$default_green: rgb(30, 250, 230);
    $default_white: white;

    //$mh_cardbackbright: rgb(170, 51, 51);
    $mh_cardbackbright: rgb(100, 100, 100);


    $mh_cardbackgrey: rgb(51, 51, 51);



    $mh_modal_back: rgb(76, 76, 76);
    $mh_white: white;
    $mh_black: black;


    $primary: $default_grey;
    $primary_text: #212121;
    $secondary_text: $default_white;

    $athens_gray_approx: rgb(236, 240, 241);
    $bilbao_approx: rgb(50, 129, 20);           // dunkler Grünton
$mercury_approx: rgb(223, 229, 230);        // dunkler Grauton
$la_palma_approx: rgb(61, 156, 25);         // heller Grünton
$wild_sand_approx: rgb(245, 245, 245);
    $slate_gray_approx: rgb(74, 92, 102);
    $alto_approx: rgb(221, 221, 221);
    $storm_dust_approx: rgb(102, 102, 102);     // helles grau
$mountain_mist_approx: rgb(153, 153, 153);  // helleres grau
$orange_pool: $default_orange;
    $btn_inactive: #9e9c9c;
    $item_separator: $default_grey;
    $footer_hover: rgb(215, 215, 215);
    $hyperlink: blue;
    $accent: $default_green;
    $divider: gray;
    $accent_300: #f0efef;
    $background: yellow;
    $button_background_hover: midnightblue;
    $button_text_hover: white;
    $input_textarea_border_active: $default_orange;
    $input_textarea_border_inactive: $divider;

    $input_textarea_background_active: lightgoldenrodyellow;

    $input_textarea_background_inactive: #F0F0F0;
    $input_textarea_text_active: black;
    $input_textarea_text_inactive: black;
    $item_icon_hover: midnightblue;
    $default_background: $default_grey;

    @return (
    //background (Deactivate the image with "none" if you want to use the background-color)
    "background_landing_page" : $default_background,
    "background_internal" : $default_background,
    "background_demo": $default_background,
    "background_presentation": $default_background,
    "background_learning": $default_background,
    "background_backend" : $default_background,
    "background_editor": $default_background,
    "background_transcript_bonus": $default_background,
    //global colors
    "thm_dark_blue":$default_dark_blue,
    "thm_blue":$default_blue,
    "thm_orange":$default_orange,
    "thm_red":$default_red,
    "thm_gray":$default_grey,
    "thm_green":$default_green,
    "athens_gray_approx":$athens-gray-approx,
    "white":$default_white,
    "bilbao_approx":$bilbao-approx,
    "mercury_approx":$mercury-approx,
    "la_palma_approx":$la-palma-approx,
    "wild_sand_approx":$wild-sand-approx,
    "slate_gray_approx":$slate-gray-approx,
    "$alto_approx":$alto_approx,
    "$storm_dust_approx":$storm_dust_approx,
    "$mountain_mist_approx":$mountain_mist_approx,
    //"$mountain_mist_approx":$mh_white,
    "primary": $primary,
    "accent": $accent,
    "primary_text": $primary_text,
    "secondary_text": $secondary_text,
    "divider": $divider,
    "accent_300": $accent_300,
    "background": $background,
    "hyperlink": $hyperlink,
    "modal_icon": $default_grey,
    "trophy": $default_orange,
    //global button and label colors
    "demo_background": $default_green,
    "demo_text": $default_white,
    "free_background": tomato,
    "free_text": $default_white,
    "edu_background": $default_green,
    "edu_text": $default_white,
    "pro_background": $default_orange,
    "pro_text": $default_white,
    "private_background": red,
    "private_text": $default_white,
    "danger_background": $default_orange,
    "danger_text": $default_white,
    "info_background": $default_dark_blue,
    "info_text": $default_white,
    "success_background": $default_green,
    "success_text": $default_white,
    "warning_background": $default_red,
    "warning_text": $default_white,
    "disabled_background": $btn_inactive,
    "disabled_text": $mercury_approx,
    "shuffled_background": brown,
    "shuffled_text": white,
    "bonus_background": $default_red,
    "bonus_text": $default_white,
    "bonus_finished_background": darkslategray,
    "bonus_finished_text": $default_white,
    "bonus_transcript_background": $default_orange,
    "bonus_transcript_text": $default_white,
    "card_type_background": darkviolet,
    "card_type_text": white,
    "button_background_hover": $button_background_hover,
    "button_text_hover": $button_text_hover,
    "input_textarea_border_active": $input_textarea_border_active,
    "input_textarea_border_inactive": $input_textarea_border_inactive,
    "input_textarea_background_active": $input_textarea_background_active,
    "input_textarea_background_inactive": $input_textarea_background_inactive,
    "input_textarea_text_active": $input_textarea_text_active,
    "input_textarea_text_inactive": $input_textarea_text_inactive,
    "button_navbar_collapse_text": white,
    "lecturer_authorized_background": $default_green,
    "lecturer_authorized_text": white,
    "wordcloud_label_background": $default_orange,
    "wordcloud_label_text": white,
    "card_counter_background": blue, ////mh
    "card_counter_text": white,
    "transcript_counter_background": $default_orange,
    "transcript_counter_text": white,
    "transcript_rating_label_background": white,
    "transcript_rating_label_text": black,
    "transcript_rating_pending_icon": $default_orange,
    "transcript_rating_accepted_icon": $default_green,
    "transcript_rating_denied_icon": $default_red,
    "transcript_rating_about_background": transparent,
    "transcript_rating_about_icon": white,
    "transcript_rating_about_card_background": transparent,
    "transcript_rating_about_card_icon": $default_grey,
    "transcript_achieved_bonus": $default_orange,
    "transcript_rating_stars_label_background": transparent,
    "transcript_rating_stars_icon": white,
    "transcript_rating_stars_icon_rated": $default_orange,
    "transcript_rating_stars_card_label_background": transparent,
    "transcript_rating_stars_card_icon": $default_grey,
    "transcript_rating_stars_card_icon_rated": $default_orange,
    "frag_jetzt_background": teal,
    "frag_jetzt_text": white,
    "arsnova_click_background": #ff8a56,
    "arsnova_click_text": white,
    "tooltip_info_background": #0099e5,
    "tooltip_info_icon": white,
    "checkbox_button_background": white,
    "checkbox_button_icon": $primary_text,
    "checkbox_button_background_checked": white,
    "checkbox_button_icon_checked": black,


    //"error_reporting_label_background": rgb(139, 0, 0),
            "error_reporting_label_background": rgb(255, 153, 51),


    "error_reporting_label_text": $default_white,
    "active_licenses_background": $default_white,
    "active_licenses_text": white,
    //license colors
    "background_license_icon": $default_white,
    "foreground_license_icon": black,
    //barfy stars
    "barfy_stars_particles_1": $default_blue,
    "barfy_stars_particles_2": $default_orange,
    "barfy_stars_particles_3": white,
    "barfy_stars_particles_4": $default_red,
    "barfy_stars_particles_5": $default_green,
    //login
    "login_facebook_background": #3A5998,
    "login_facebook_background_hover": $button_background_hover,
    "login_facebook_icon": white,
    "login_facebook_icon_hover": $button_text_hover,
    "login_twitter_background": #0099e5,
    "login_twitter_background_hover": $button_background_hover,
    "login_twitter_icon": white,
    "login_twitter_icon_hover": $button_text_hover,
    "login_google_background": #DB4437,
    "login_google_background_hover": $button_background_hover,
    "login_google_icon": white,
    "login_google_icon_hover": $button_text_hover,
    "login_cards_background": #2ac55f,
    "login_cards_background_hover": $button_background_hover,
    "login_cards_icon": black,
    "login_cards_icon_hover": $button_text_hover,
    "login_cas_background": #2ac55f,
    "login_cas_background_hover": $button_background_hover,
    "login_cas_icon": black,
    "login_cas_icon_hover": $button_text_hover,
    "login_guest_background": white,
    "login_guest_background_hover": $button_background_hover,
    "login_guest_icon": black,
    "login_guest_icon_hover": $button_text_hover,
    "login_pro_background": $default_orange,
    "login_pro_background_hover": $button_background_hover,
    "login_pro_icon": white,
    "login_pro_icon_hover": $button_text_hover,
    "login_backdoor_background": $primary,
    "login_backdoor_background_hover": $button_background_hover,
    "login_backdoor_icon": white,
    "login_backdoor_icon_hover": $button_text_hover,
    //login modal
    "login_modal_verification_ok": $default_green,
    "login_modal_verification_error": $default_red,
    "login_modal_verification_error_message": $default_red,
    "login_modal_button_submit_background": $default_green,
    "login_modal_button_submit_text": white,
    "login_modal_button_submit_background_hover": $button_background_hover,
    "login_modal_button_submit_text_hover": $button_text_hover,
    "login_modal_info_success_text": white,
    "login_modal_info_success_background": $default_green,
    "login_modal_info_error_text": white,
    "login_modal_info_error_background": $default_red,
    "login_modal_accounts_info_dismiss_button_background": $default_green,
    "login_modal_accounts_info_dismiss_button_text": white,
    "login_modal_accounts_info_dismiss_button_background_hover": $button_background_hover,
    "login_modal_accounts_info_dismiss_button_text_hover": $button_text_hover,
    "login_modal_accounts_info_new_password_button_background": $default_green,
    "login_modal_accounts_info_new_password_button_text": white,
    "login_modal_accounts_info_new_password_button_background_hover": $button_background_hover,
    "login_modal_accounts_info_new_password_button_text_hover": $button_text_hover,
    //ratings
    "current_rating": $default_orange,
    "hover_rating": $default_blue,
    //navbar
    "navbar_background": black,
    "navbar_text": white,
    "navbar_text_hover": $button_text_hover,
    "navbar_collapse_background": none,
    "navbar_collapse_text": $default_orange,
    "navbar_collapse_background_hover": $button_background_hover,
    "navbar_collapse_text_hover": $button_text_hover,
    //navbar all
    "navbar_all_background": black,
    "navbar_all_background_hover": $button_background_hover,
    "navbar_all_background_active": black,
    "navbar_all_text": white,
    "navbar_all_text_hover": $button_text_hover,
    "navbar_all_text_active": $default_orange,
    "navbar_all_border": $default_orange,
    "navbar_all_border_hover": $default_orange,
    "navbar_all_border_active": $default_orange,
    "navbar_all_cardsets_background": $default_grey,
    "navbar_all_cardsets_background_hover": $button_background_hover,
    "navbar_all_cardsets_background_active": $default_orange,
    "navbar_all_cardsets_text": white,
    "navbar_all_cardsets_text_hover": $button_text_hover,
    "navbar_all_cardsets_text_active": white,
    "navbar_all_repetitorien_background": $default_grey,
    "navbar_all_repetitorien_background_hover": $button_background_hover,
    "navbar_all_repetitorien_background_active": $default_orange,
    "navbar_all_repetitorien_text": white,
    "navbar_all_repetitorien_text_hover": $button_text_hover,
    "navbar_all_repetitorien_text_active": white,
    //navbar transcripts
    "navbar_transcripts_background": black,
    "navbar_transcripts_background_hover": $button_background_hover,
    "navbar_transcripts_background_active": black,
    "navbar_transcripts_text": white,
    "navbar_transcripts_text_hover": $button_text_hover,
    "navbar_transcripts_text_active": #2ac55f,
    "navbar_transcripts_personal_background": $default_grey,
    "navbar_transcripts_personal_background_hover": $button_background_hover,
    "navbar_transcripts_personal_background_active": $default_green,
    "navbar_transcripts_personal_text": white,
    "navbar_transcripts_personal_text_hover": $button_text_hover,
    "navbar_transcripts_personal_text_active": white,
    "navbar_transcripts_bonus_background": $default_grey,
    "navbar_transcripts_bonus_background_hover": $button_background_hover,
    "navbar_transcripts_bonus_background_active": #2ac55f,
    "navbar_transcripts_bonus_text": white,
    "navbar_transcripts_bonus_text_hover": $button_text_hover,
    "navbar_transcripts_bonus_text_active": white,
    //navbar personal
    "navbar_personal_background": black,
    "navbar_personal_background_hover": $button_background_hover,
    "navbar_personal_background_active": black,
    "navbar_personal_text": white,
    "navbar_personal_text_hover": $button_text_hover,
    "navbar_personal_text_active": #2ac55f,
    "navbar_personal_transcripts_background": $default_grey,
    "navbar_personal_transcripts_background_hover": $button_background_hover,
    "navbar_personal_transcripts_background_active": $default_green,
    "navbar_personal_transcripts_text": white,
    "navbar_personal_transcripts_text_hover": $button_text_hover,
    "navbar_personal_transcripts_text_active": white,
    "navbar_personal_cardsets_background": $default_grey,
    "navbar_personal_cardsets_background_hover": $button_background_hover,
    "navbar_personal_cardsets_background_active": $default_green,
    "navbar_personal_cardsets_text": white,
    "navbar_personal_cardsets_text_hover": $button_text_hover,
    "navbar_personal_cardsets_text_active": white,
    "navbar_personal_repetitorien_background": $default_grey,
    "navbar_personal_repetitorien_background_hover": $button_background_hover,
    "navbar_personal_repetitorien_background_active": $default_green,
    "navbar_personal_repetitorien_text": white,
    "navbar_personal_repetitorien_text_hover": $button_text_hover,
    "navbar_personal_repetitorien_text_active": white,
    //navbar public
    "navbar_public_background": black,
    "navbar_public_background_hover": $button_background_hover,
    "navbar_public_background_active": black,
    "navbar_public_text": white,
    "navbar_public_text_hover": $button_text_hover,
    "navbar_public_text_active": #2ac55f,
    "navbar_public_cardsets_background": $default_grey,
    "navbar_public_cardsets_background_hover": $button_background_hover,
    "navbar_public_cardsets_background_active": $default_green,
    "navbar_public_cardsets_text": white,
    "navbar_public_cardsets_text_hover": $button_text_hover,
    "navbar_public_cardsets_text_active": white,
    "navbar_public_repetitorien_background": $default_grey,
    "navbar_public_repetitorien_background_hover": $button_background_hover,
    "navbar_public_repetitorien_background_active": #2ac55f,
    "navbar_public_repetitorien_text": white,
    "navbar_public_repetitorien_text_hover": $button_text_hover,
    "navbar_public_repetitorien_text_active": white,

    "navbar_learn_background": black,
    "navbar_learn_background_hover": $button_background_hover,
    "navbar_learn_background_active": black,
    "navbar_learn_text": white,
    "navbar_learn_text_hover": $button_text_hover,
    "navbar_learn_text_active": #2ac55f,

    "navbar_search_placeholder": $default_grey,
    "navbar_search_button_background": transparent,
    "navbar_search_button_icon": white,
    "navbar_search_button_background_hover": white,
    "navbar_search_button_icon_hover": black,
    "navbar_search_clear_icon": $default_orange,
    "navbar_search_result_open_icon": white,
    "navbar_search_result_open_icon_hover": white,
    "navbar_search_result_divider_background": rgba(black, 0.5),
    "navbar_search_result_open_background": $default_dark_blue,
    "navbar_search_result_open_background_hover": $button_background_hover,

    "navbar_help_background": black,
    "navbar_help_background_hover": white,
    "navbar_help_background_active": black,
    "navbar_help_text": white,
    "navbar_help_text_hover": black,
    "navbar_help_text_active": #2ac55f,

    "navbar_backend_background": black,
    "navbar_backend_background_hover": $button_background_hover,
    "navbar_backend_text": white,
    "navbar_backend_text_hover": white,

    "navbar_theme_background": black,
    "navbar_theme_background_hover": $button_background_hover,
    "navbar_theme_text": white,
    "navbar_theme_text_hover": $button_text_hover,

    "navbar_notifications_background": black,
    "navbar_notifications_background_hover": $button_background_hover,
    "navbar_notifications_text": white,
    "navbar_notifications_text_hover": $button_text_hover,

    "navbar_profile_background": black,
    "navbar_profile_background_hover": $button_background_hover,
    "navbar_profile_background_active": black,
    "navbar_profile_text": white,
    "navbar_profile_text_hover": $button_text_hover,
    "navbar_profile_text_active": #2ac55f,

    "navbar_dropdown_background": $default_grey,
    "navbar_dropdown_background_opacity": 0.9,
    "navbar_dropdown_background_hover": $button_background_hover,
    "navbar_dropdown_background_active": #2ac55f,
    "navbar_dropdown_text": white,
    "navbar_dropdown_text_hover": $button_text_hover,
    "navbar_dropdown_text_active": white,

    "navbar_logout_background": black !important,
    "navbar_logout_background_hover": white,
    "navbar_logout_text": white !important,
    "navbar_logout_text_hover": black !important,

    "navbar_websocket_connected": green,
    "navbar_websocket_connecting": yellow,
    "navbar_websocket_disconnected": red,
    "navbar_websocket_background_active": black,
    "navbar_websocket_background_hover": $button_background_hover,

    //welcome page colors
    "welcome_page_login_label": white,
    "welcome_page_login_label_shadow": $default_grey,
    "placeholder": $default_orange,
    //export to markdeep colors
    "export_to_markdeep_table_header_background": $default_grey,
    "export_to_markdeep_table_header_text": white,
    "export_to_markdeep_table_row_background": white,
    "export_to_markdeep_table_row_text": $primary_text,
    "export_to_markdeep_table_row_counter": $primary_text,
    //server statistics colors
    "server_statistics_table_header_background": $default_grey,
    "server_statistics_table_header_text": white,
    "server_statistics_table_header_counter": white,
    "server_statistics_table_row_background": white,
    "server_statistics_table_row_text": $primary_text,
    "server_statistics_table_row_counter": $primary_text,
    //leitner user history
    "leitner_user_history_title_background": $default_grey,
    "leitner_user_history_title_color": white,
    //footer colors
    "footer_welcome_page_info_icon_text" : white,
    "footer_welcome_page_info_icon_text_hover": $button_background_hover,
    "footer_navigation_text": white,
    "footer_navigation_text_active": white,
    "footer_navigation_text_hover": $button_text_hover,
    "footer_navigation_background": grey,
    "footer_navigation_background_active": grey,
    "footer_navigation_background_hover": $button_background_hover,
    //impressum colors
    "info_content_header_text": white,
    "info_content_header_background": $default_grey,
    "info_content_body_text": $default_grey,
    "info_content_body_background": LightGoldenRodYellow,
    //editor navigation colors
    "item_selection_border": $item_separator,
    //filter colors
    //"filter_navigation_background": WhiteSmoke,
    "filter_navigation_background": pink,   ////mh

    "filter_navigation_text": $default_grey,
    "filter_navigation_icon_active": $default_orange,
    "filter_navigation_background_hover": $button_background_hover,
    "filter_navigation_text_hover": $button_text_hover,
    "filter_button_background": black,
    "filter_button_icon": white,
    "filter_button_background_active": white,
    "filter_button_icon_active": black,
    "filter_button_background_hover": white,
    "filter_button_icon_hover": black,
    "filter_border": $default_grey,
    //display mode colors
    "display_mode_background": black,
    "display_mode_text": white,
    "display_mode_background_hover" : white,
    "display_mode_text_hover": black,
    //item lists colors
    "item_separator_border_bottom": $default_grey,
    "infinite_scroll_background": $default_grey,
    "infinite_scroll_icon": $default_orange,
    "infinite_scroll_text": white,
    "item_spacing_background": rgba(black, 0.5),
    "item_background": $default_grey,
    "item_icon": white,
    "item_icon_hover": $item_icon_hover,
    "item_author_text": black,
    "item_workload_button_background": $default_green,
    "item_workload_button_text": white,
    "item_workload_button_background_hover": $button_background_hover,
    "item_workload_button_text_hover": $button_text_hover,
    "item_last_editor_text": black,
    "item_description_background": LightGoldenRodYellow,
    "item_description_text": $default_grey,
    "item_text": white,
    "item_content_link": white,
    "no_results_background": white,
    "no_results_text": $default_grey,
    "no_remaining_daily_workload": $primary_text,
    //difficulty colors
    "button_difficulty0_note": darkorange,
    "button_difficulty0": darkorange,
    "button_difficulty1": green,
    "button_difficulty2": blue,
    "button_difficulty3": red,
    "button_difficulty_inactive": $wild_sand_approx,
    "background_difficulty0_note": ivory,
    //"background_difficulty0": LightGoldenRodYellow,
    "background_difficulty0": rgb(255, 230, 223),   ////mh
    //"background_difficulty1": honeydew,
    "background_difficulty1": rgb(255, 180, 223),   ////mh
    //"background_difficulty2": lightcyan,
    "background_difficulty2": rgb(255, 130, 223),   ////mh
    //"background_difficulty3": mistyrose,
    "background_difficulty3": rgb(255, 100, 223),   ////mh
    "background_difficulty0_lines_note": #F8E1AE,
    "background_difficulty0_lines": PaleGoldenRod,
    "background_difficulty1_lines": rgba(92, 184, 92, 0.3),
    "background_difficulty2_lines": rgba(91, 192, 222, 0.3),
    "background_difficulty3_lines": rgba(217, 83, 79, 0.3),

    "background_white": $default_white,   ////mh
    //"background_white": $default_grey,

    "background_white_lines": $default_grey,
    "background_post_it": lightgoldenrodyellow,
    "background_post_it_lines": $default_orange,
    "background_pink": lightcoral,
    "background_pink_lines": crimson,
    //card list
    "card_list_number_background": $default_green,
    "card_list_number_text": white,
    //card-navigation colors
    "card_navigation_active_background": $default_orange,
    "card_navigation_active_text": white,
    "card_navigation_active_background_hover": $button_background_hover,
    "card_navigation_active_text_hover": white,

    "card_navigation_background": darkgrey,
    "card_navigation_text": white,
    "card_navigation_background_hover": $button_background_hover,
    "card_navigation_text_hover": $button_text_hover,

    "card_navigation_empty_content_opacity": 0.3,
    "card_navigation_empty_content_background": $athens_gray_approx,
    "card_navigation_empty_content_text": black,
    "card_navigation_empty_content_opacity_hover": 1,
    "card_navigation_empty_content_background_hover":  $button_background_hover,
    "card_navigation_empty_content_text_hover": white,

    "editor_card_navigation_active_background": $default_dark_blue,
    "editor_card_navigation_active_text": white,
    "editor_card_navigation_active_background_hover": $default_green,
    "editor_card_navigation_active_text_hover": white,

    "editor_card_navigation_background": $default_green,
    "editor_card_navigation_text": $primary_text,
    "editor_card_navigation_background_hover": $button_background_hover,
    "editor_card_navigation_text_hover": $button_text_hover,

    "editor_card_navigation_empty_content_opacity": 1,
    "editor_card_navigation_empty_content_background": $default_orange,
    "editor_card_navigation_empty_content_text": white,
    "editor_card_navigation_empty_content_opacity_hover": 1,
    "editor_card_navigation_empty_content_background_hover":  $default_orange,
    "editor_card_navigation_empty_content_text_hover": white,
    //cube colors
    "cube_border": lightgray,
    //card colors
    "background_mobile_preview": $btn_inactive,
    "background_lecture": LightGoldenRodYellow,
    //"background_hint": WhiteSmoke,
    "background_hint": pink, ////mh
    "background_hint_alternative": LightPink,
    "lecture_presentation_header_lines": $default_orange,
    "hint_presentation_header_lines": $default_grey,
    "hint_alternative_presentation_header_lines": $default_red,
    "hint_text": $default_grey,
    "hint_text_alternative": $default_grey,
    "hint_link": $default_orange,
    "hint_link_alternative": $hyperlink,
    "hint_placeholder": $default_green,
    "hint_placeholder_alternative": $default_orange,
    "hint_header_border": $default_orange,
    "hint_header_border_alternative": $default_orange,
    "navigation_arrows": $default_grey,
    "card_header_card_number": $default_grey,
    "card_header_first_row": $default_grey,
    "card_header_second_row": $default_grey,
    "card_header_subject": $default_grey,
    "card_header_subject_placeholder": $default_orange,

    "card_content_zoom_container_button_reset_background": $default_orange,
    "card_content_zoom_container_button_reset_text": white,
    "card_content_zoom_container_button_reset_background_hover": $button_background_hover,
    "card_content_zoom_container_button_reset_text_hover": $button_text_hover,

    "card_content_zoom_container_background": $default_grey,
    "card_content_zoom_container_text": white,
    "card_content_zoom_container_percentage": white,

    "card_content_zoom_container_button_plus_background": $default_green,
    "card_content_zoom_container_button_plus_text": white,
    "card_content_zoom_container_button_plus_background_hover": $button_background_hover,
    "card_content_zoom_container_button_plus_text_hover": $button_text_hover,
    "card_content_zoom_container_button_plus_background_disabled": $athens_gray_approx,
    "card_content_zoom_container_button_plus_text_disabled": black,
    "card_content_zoom_container_button_plus_disabled_opacity": 0.3,

    "card_content_zoom_container_button_minus_background": $default_red,
    "card_content_zoom_container_button_minus_text": white,
    "card_content_zoom_container_button_minus_background_hover": $button_background_hover,
    "card_content_zoom_container_button_minus_text_hover": $button_text_hover,
    "card_content_zoom_container_button_minus_background_disabled": $athens_gray_approx,
    "card_content_zoom_container_button_minus_text_disabled": black,
    "card_content_zoom_container_button_minus_disabled_opacity": 0.3,

    "card_answer_icon_user_interactive_text": white,
    "card_answer_icon_user_interactive_border": white,
    "card_answer_icon_user_interactive_background": $default_grey,

    "card_answer_icon_user_result_text": white,
    "card_answer_icon_user_result_border": white,
    "card_answer_icon_user_result_background": $default_grey,

    "card_answer_icon_right_text": $default_green,
    "card_answer_icon_right_border": $default_green,
    "card_answer_icon_right_background": white,

    "card_answer_icon_wrong_text": $default_red,
    "card_answer_icon_wrong_background": white,

    "card_answer_icon_explanation_text": white,
    "card_answer_icon_explanation_background": $default_orange,

    "card_answer_background": rgba($default_grey, 0.25),
    "card_answer_background_right": rgba($default_green, 0.25),
    "card_answer_background_wrong": rgba($default_red, 0.25),
    "card_answer_explanation_background": rgba($default_orange, 0.25),
    //card sidebar colors
    //card sidebar colors
    "card_sidebar_border": rgba($default_grey, 0.6),
    "card_sidebar_background" : rgba($mercury_approx, 0.6),

    "card_sidebar_edit_button_background": $default_green,
    "card_sidebar_edit_button_border": $default_green,
    "card_sidebar_edit_button_text": white,
    "card_sidebar_edit_button_background_hover": $button_background_hover,
    "card_sidebar_edit_button_border_hover": $button_background_hover,
    "card_sidebar_edit_button_text_hover": $button_text_hover,

    "card_sidebar_delete_button_background": $default_red,
    "card_sidebar_delete_button_border": $default_red,
    "card_sidebar_delete_button_text": white,
    "card_sidebar_delete_button_background_hover": $button_background_hover,
    "card_sidebar_delete_button_border_hover": $button_background_hover,
    "card_sidebar_delete_button_text_hover": $button_text_hover,

    "card_sidebar_toggle_button_background": $default_blue,
    "card_sidebar_toggle_button_border": $default_blue,
    "card_sidebar_toggle_button_text": white,
    "card_sidebar_toggle_button_opacity": 1,
    "card_sidebar_toggle_button_background_hover": $button_background_hover,
    "card_sidebar_toggle_button_border_hover": $button_background_hover,
    "card_sidebar_toggle_button_text_hover": $button_text_hover,
    "card_sidebar_toggle_button_background_active": transparent,
    "card_sidebar_toggle_button_border_active": transparent,
    "card_sidebar_toggle_button_text_active": $default_grey,
    "card_sidebar_toggle_button_opacity_active": 1.0,
    "card_sidebar_toggle_button_background_active_hover": $button_background_hover,
    "card_sidebar_toggle_button_border_active_hover": $button_background_hover,
    "card_sidebar_toggle_button_text_active_hover": $button_text_hover,

    "card_sidebar_toggle_fullscreen_button_background": white,
    "card_sidebar_toggle_fullscreen_button_border": white,
    "card_sidebar_toggle_fullscreen_button_text": $primary,
    "card_sidebar_toggle_fullscreen_button_background_hover": $button_background_hover,
    "card_sidebar_toggle_fullscreen_button_border_hover": $button_background_hover,
    "card_sidebar_toggle_fullscreen_button_text_hover": $button_text_hover,
    "card_sidebar_toggle_fullscreen_button_background_active": $default_orange,
    "card_sidebar_toggle_fullscreen_button_border_active": $default_orange,
    "card_sidebar_toggle_fullscreen_button_text_active": white,

    "card_sidebar_aspect_ratio_background": white,
    "card_sidebar_aspect_ratio_border": $default_grey,
    "card_sidebar_aspect_ratio_text": $default_blue,
    "card_sidebar_aspect_ratio_background_hover": $button_background_hover,
    "card_sidebar_aspect_ratio_border_hover": $default_grey,
    "card_sidebar_aspect_ratio_text_hover": $button_text_hover,
    "card_sidebar_aspect_ratio_dropdown_background": none,
    "card_sidebar_aspect_ratio_dropdown_border": $default_grey,
    "card_sidebar_aspect_ratio_dropdown_text": $default_grey,
    "card_sidebar_aspect_ratio_dropdown_background_hover": $button_background_hover,
    "card_sidebar_aspect_ratio_dropdown_border_hover": $default_grey,
    "card_sidebar_aspect_ratio_dropdown_text_hover": $button_text_hover,
    "card_sidebar_aspect_ratio_dropdown_background_active": $default_blue,
    "card_sidebar_aspect_ratio_dropdown_border_active": $default_grey,
    "card_sidebar_aspect_ratio_dropdown_text_active": white,
    "card_sidebar_aspect_ratio_dropdown_background_active_hover": $button_background_hover,
    "card_sidebar_aspect_ratio_dropdown_border_active_hover": $default_grey,
    "card_sidebar_aspect_ratio_dropdown_text_active_hover": $button_text_hover,
    "card_sidebar_aspect_ratio_menu_background": white,
    "card_sidebar_aspect_ratio_menu_separator": $default_grey,

    "card_sidebar_arsnova_lite_background": none,
    "card_sidebar_arsnova_lite_border": $default_grey,
    "card_sidebar_arsnova_lite_text": $default_blue,
    "card_sidebar_arsnova_lite_background_hover": $button_background_hover,
    "card_sidebar_arsnova_lite_border_hover": $button_background_hover,
    "card_sidebar_arsnova_lite_text_hover": $button_text_hover,
    "card_sidebar_arsnova_lite_background_active": $default_orange,
    "card_sidebar_arsnova_lite_border_active": $default_orange,
    "card_sidebar_arsnova_lite_text_active": white,

    "card_sidebar_zoom_background": none,
    "card_sidebar_zoom_border": $default_grey,
    "card_sidebar_zoom_text": $default_grey,
    "card_sidebar_zoom_background_open": $button_background_hover,
    "card_sidebar_zoom_border_open": $button_background_hover,
    "card_sidebar_zoom_text_open": $button_text_hover,
    "card_sidebar_zoom_background_hover": $button_background_hover,
    "card_sidebar_zoom_border_hover": $button_background_hover,
    "card_sidebar_zoom_text_hover": $button_text_hover,
    "card_sidebar_zoom_background_active": $default_orange,
    "card_sidebar_zoom_border_active": $default_orange,
    "card_sidebar_zoom_text_active": white,

    "card_sidebar_error_reporting_button_background": white,
    "card_sidebar_error_reporting_button_text": $default_grey,
    "card_sidebar_error_reporting_button_background_hover": $button_background_hover,
    "card_sidebar_error_reporting_button_text_hover": $button_text_hover,

    "card_sidebar_leitner_history_background": none,
    "card_sidebar_leitner_history_border": $default_grey,
    "card_sidebar_leitner_history_text": $default_grey,
    "card_sidebar_leitner_history_background_hover": $button_background_hover,
    "card_sidebar_leitner_history_border_hover": $button_background_hover,
    "card_sidebar_leitner_history_text_hover": $button_text_hover,
    "card_sidebar_leitner_history_background_active": $default_green,
    "card_sidebar_leitner_history_border_active": $default_green,
    "card_sidebar_leitner_history_text_active": white,

    "card_sidebar_leitner_graph_background": none,
    "card_sidebar_leitner_graph_border": $default_grey,
    "card_sidebar_leitner_graph_text": $default_grey,
    "card_sidebar_leitner_graph_background_hover": $button_background_hover,
    "card_sidebar_leitner_graph_border_hover": $button_background_hover,
    "card_sidebar_leitner_graph_text_hover": $button_text_hover,
    "card_sidebar_leitner_graph_background_active": $default_orange,
    "card_sidebar_leitner_graph_border_active": $default_orange,
    "card_sidebar_leitner_graph_text_active": white,

    "card_sidebar_pomodoro_timer_background": white,
    "card_sidebar_pomodoro_timer_border": $default_grey,
    "card_sidebar_pomodoro_timer_background_hover": $button_background_hover,
    "card_sidebar_pomodoro_timer_border_hover": $button_background_hover,
    "card_sidebar_pomodoro_timer_background_active": $default_grey,
    "card_sidebar_pomodoro_timer_border_active": $default_grey,
    "card_sidebar_pomodoro_timer_background_active_hover": $button_background_hover,
    "card_sidebar_pomodoro_timer_border_active_hover": $button_background_hover,

    "card_sidebar_toggle_3d_background": white,
    "card_sidebar_toggle_3d_border": $default_grey,
    "card_sidebar_toggle_3d_background_hover": $button_background_hover,
    "card_sidebar_toggle_3d_border_hover": $button_background_hover,
    "card_sidebar_toggle_3d_background_active": $default_grey,
    "card_sidebar_toggle_3d_border_active": $default_grey,
    "card_sidebar_toggle_3d_background_active_hover": $button_background_hover,
    "card_sidebar_toggle_3d_border_active_hover": $button_background_hover,
    //cardset sidebar colors
    "cardset_sidebar_preview_background": none,
    "cardset_sidebar_preview_text": $default_grey,
    "cardset_sidebar_preview_background_hover": $button_background_hover,
    "cardset_sidebar_preview_text_hover": $button_text_hover,
    "cardset_sidebar_preview_background_active": $default_orange,
    "cardset_sidebar_preview_text_active": white,
    //cardset colors
    //"cardset_markdeep_background": LightGoldenRodYellow,
    "cardset_markdeep_background": $mh_cardbackgrey, ////mh

    "cardset_markdeep_header_border": $default_orange,
    //"cardset_markdeep_text": $default_grey,
    "cardset_markdeep_text": $mh_white,   ////mh


    "cardset_markdeep_link": $default_orange,
    "cardset_markdeep_placeholder": $default_green,
    "cardset_footer_navigation_background": $default_grey,
    "cardset_footer_navigation_index_background": none,
    "cardset_footer_navigation_index_text": $mh_white,  ////mh

    "cardset_footer_navigation_index_background_hover": $button_background_hover,
    "cardset_footer_navigation_index_text_hover": $button_text_hover,
    "cardset_footer_navigation_presentation_background": $default_dark_blue,
    "cardset_footer_navigation_presentation_text": white,
    "cardset_footer_navigation_presentation_background_hover": $button_background_hover,
    "cardset_footer_navigation_presentation_text_hover": $button_text_hover,
    "cardset_footer_navigation_learn_background": $default_green,
    "cardset_footer_navigation_learn_text": white,
    "cardset_footer_navigation_learn_background_hover": $button_background_hover,
    "cardset_footer_navigation_learn_text_hover": $button_text_hover,
    "cardset_footer_navigation_learn_list_leitner_background": none,
    "cardset_footer_navigation_learn_list_leitner_text": black,
    "cardset_footer_navigation_learn_list_leitner_background_hover": $button_background_hover,
    "cardset_footer_navigation_learn_list_leitner_text_hover": $button_text_hover,
    "cardset_footer_navigation_learn_list_wozniak_background": none,
    "cardset_footer_navigation_learn_list_wozniak_text": black,
    "cardset_footer_navigation_learn_list_wozniak_background_hover": $button_background_hover,
    "cardset_footer_navigation_learn_list_wozniak_text_hover": $button_text_hover,
    "cardset_footer_navigation_learn_list_choose_background": none,
    "cardset_footer_navigation_learn_list_choose_text": black,
    "cardset_footer_navigation_learn_list_choose_background_hover": $button_background_hover,
    "cardset_footer_navigation_learn_list_choose_text_hover": $button_text_hover,
    "cardset_footer_navigation_learn_list_progress_background": none,
    "cardset_footer_navigation_learn_list_progress_text": black,
    "cardset_footer_navigation_learn_list_progress_background_hover": $button_background_hover,
    "cardset_footer_navigation_learn_list_progress_text_hover": $button_text_hover,
    "cardset_footer_navigation_learn_list_reset_leitner_background": $default_orange,
    "cardset_footer_navigation_learn_list_reset_leitner_text": white,
    "cardset_footer_navigation_learn_list_reset_leitner_background_hover": $button_background_hover,
    "cardset_footer_navigation_learn_list_reset_leitner_text_hover": $button_text_hover,
    "cardset_footer_navigation_learn_list_reset_wozniak_background": $default_orange,
    "cardset_footer_navigation_learn_list_reset_wozniak_text": white,
    "cardset_footer_navigation_learn_list_reset_wozniak_background_hover": $button_background_hover,
    "cardset_footer_navigation_learn_list_reset_wozniak_text_hover": $button_text_hover,

    "cardset_footer_navigation_learn_list_reset_workload_background": $default_orange,
    "cardset_footer_navigation_learn_list_reset_workload_text": white,
    "cardset_footer_navigation_learn_list_reset_workload_background_hover": $button_background_hover,
    "cardset_footer_navigation_learn_list_reset_workload_text_hover": $button_text_hover,

    "cardset_footer_navigation_new_card_background": $default_orange,
    "cardset_footer_navigation_new_card_text": white,
    "cardset_footer_navigation_new_card_background_hover": $button_background_hover,
    "cardset_footer_navigation_new_card_text_hover": $button_text_hover,
    "cardset_footer_navigation_import_cards_background": none,
    "cardset_footer_navigation_import_cards_text": black,
    "cardset_footer_navigation_import_cards_background_hover": $button_background_hover,
    "cardset_footer_navigation_import_cards_text_hover": $button_text_hover,
    "cardset_footer_navigation_edit_shuffle_background": brown,
    "cardset_footer_navigation_edit_shuffle_text": white,
    "cardset_footer_navigation_edit_shuffle_background_hover": $button_background_hover,
    "cardset_footer_navigation_edit_shuffle_text_hover": $button_text_hover,
    "cardset_footer_navigation_edit_cardset_background": brown,
    "cardset_footer_navigation_edit_cardset_text": white,
    "cardset_footer_navigation_edit_cardset_background_hover": $button_background_hover,
    "cardset_footer_navigation_edit_cardset_text_hover": $button_text_hover,
    "cardset_footer_navigation_select_license_background": none,
    "cardset_footer_navigation_select_license_text": black,
    "cardset_footer_navigation_select_license_background_hover": $button_background_hover,
    "cardset_footer_navigation_select_license_text_hover": $button_text_hover,
    "cardset_footer_navigation_publish_cardset_background": none,
    "cardset_footer_navigation_publish_cardset_text": black,
    "cardset_footer_navigation_publish_cardset_background_hover": $button_background_hover,
    "cardset_footer_navigation_publish_cardset_text_hover": $button_text_hover,
    "cardset_footer_navigation_bonus_background": $default_green,
    "cardset_footer_navigation_bonus_text": white,
    "cardset_footer_navigation_bonus_background_hover": $button_background_hover,
    "cardset_footer_navigation_bonus_text_hover": $button_text_hover,
    "cardset_footer_navigation_bonus_list_start_learning_background": $default_green,
    "cardset_footer_navigation_bonus_list_start_learning_text": white,
    "cardset_footer_navigation_bonus_list_start_learning_background_hover": $button_background_hover,
    "cardset_footer_navigation_bonus_list_start_learning_text_hover": $button_text_hover,
    "cardset_footer_navigation_bonus_list_manage_learning_background": none,
    "cardset_footer_navigation_bonus_list_manage_learning_text": black,
    "cardset_footer_navigation_bonus_list_manage_learning_background_hover": $button_background_hover,
    "cardset_footer_navigation_bonus_list_manage_learning_text_hover": $button_text_hover,
    "cardset_footer_navigation_bonus_list_stop_learning_background": $default_orange,
    "cardset_footer_navigation_bonus_list_stop_learning_text": white,
    "cardset_footer_navigation_bonus_list_stop_learning_background_hover": $button_background_hover,
    "cardset_footer_navigation_bonus_list_stop_learning_text_hover": $button_text_hover,
    "cardset_footer_navigation_bonus_list_show_stats_background": none,
    "cardset_footer_navigation_bonus_list_show_stats_text": black,
    "cardset_footer_navigation_bonus_list_show_stats_background_hover": $button_background_hover,
    "cardset_footer_navigation_bonus_list_show_stats_text_hover": $button_text_hover,
    "cardset_footer_navigation_manage_cardset_background": none,
    "cardset_footer_navigation_manage_cardset_text": black,
    "cardset_footer_navigation_manage_cardset_background_hover": $button_background_hover,
    "cardset_footer_navigation_manage_cardset_text_hover": $button_text_hover,
    "cardset_footer_navigation_manage_list_manage_editors_background": none,
    "cardset_footer_navigation_manage_list_manage_editors_text": black,
    "cardset_footer_navigation_manage_list_manage_editors_background_hover": $button_background_hover,
    "cardset_footer_navigation_manage_list_manage_editors_text_hover": $button_text_hover,
    "cardset_footer_navigation_manage_list_report_background": none,
    "cardset_footer_navigation_manage_list_report_text": black,
    "cardset_footer_navigation_manage_list_report_background_hover": $button_background_hover,
    "cardset_footer_navigation_manage_list_report_text_hover": $button_text_hover,
    "cardset_footer_navigation_manage_list_leave_learn_phase_background": $default_orange,
    "cardset_footer_navigation_manage_list_leave_learn_phase_text": white,
    "cardset_footer_navigation_manage_list_leave_learn_phase_background_hover": $button_background_hover,
    "cardset_footer_navigation_manage_list_leave_learn_phase_text_hover": $button_text_hover,
    "cardset_footer_navigation_manage_list_leave_cardset_background": $default_orange,
    "cardset_footer_navigation_manage_list_leave_cardset_text": white,
    "cardset_footer_navigation_manage_list_leave_cardset_background_hover": $button_background_hover,
    "cardset_footer_navigation_manage_list_leave_cardset_text_hover": $button_text_hover,
    "cardset_footer_navigation_manage_list_leave_editors_background": $default_orange,
    "cardset_footer_navigation_manage_list_leave_editors_text": white,
    "cardset_footer_navigation_manage_list_leave_editors_background_hover": $button_background_hover,
    "cardset_footer_navigation_manage_list_leave_editors_text_hover": $button_text_hover,
    "cardset_footer_navigation_export_cards_background": none,
    "cardset_footer_navigation_export_cards_text": black,
    "cardset_footer_navigation_export_cards_background_hover": $button_background_hover,
    "cardset_footer_navigation_export_cards_text_hover": $button_text_hover,
    "cardset_footer_navigation_delete_all_cards_background": $default_red,
    "cardset_footer_navigation_delete_all_cards_text": white,
    "cardset_footer_navigation_delete_all_cards_background_hover": $button_background_hover,
    "cardset_footer_navigation_delete_all_cards_text_hover": $button_text_hover,
    "cardset_footer_navigation_transcripts_background": $default_green,
    "cardset_footer_navigation_transcripts_text": white,
    "cardset_footer_navigation_transcripts_background_hover": $button_background_hover,
    "cardset_footer_navigation_transcripts_text_hover": $button_text_hover,
    //markdeep colors
    "markdeep_inline_code_background": yellow,
    "markdeep_inline_code_text": black,
    "markdeep_blockquote_background": none,
    "markdeep_blockquote_text": $default_grey,
    "markdeep_blockquote_author": $default_grey,
    "markdeep_blockquote_quotes": $default_orange,
    "markdeep_image_border": $default_grey,
    //transcript bonus colors
    "transcript_bonus_info_text": white,
    "transcript_bonus_info_background": $default_red,
    "transcript_bonus_info_lecture_date_year_text": white,
    "transcript_bonus_info_lecture_date_year_background": $default_orange,
    "transcript_bonus_info_lecture_date_month_text": white,
    "transcript_bonus_info_lecture_date_month_background": $default_grey,
    "transcript_bonus_info_lecture_date_day_border": white,
    "transcript_bonus_info_lecture_date_day_past_text": white,
    "transcript_bonus_info_lecture_date_day_past_background": rgba($default_red, 0.5),
    "transcript_bonus_info_lecture_date_day_active_text": white,
    "transcript_bonus_info_lecture_date_day_active_background": $default_green,
    "transcript_bonus_info_lecture_date_day_future_text": white,
    "transcript_bonus_info_lecture_date_day_future_background": rgba($default_grey, 0.5),
    "transcript_bonus_info_lecture_date_day_hover_text": black,
    "transcript_bonus_info_lecture_date_day_hover_background": LightGoldenRodYellow,
    "transcript_bonus_submission_count_badge_text": white,
    "transcript_bonus_submission_count_badge_background": $default_orange,
    //transcript bonus statistics info colors
    "transcript_bonus_statistics_info_name_background": LightGoldenRodYellow,
    "transcript_bonus_statistics_info_details_background": white,
    "transcript_bonus_statistics_info_details_text": black,
    "transcript_bonus_statistics_info_details_achieved_background": LightGoldenRodYellow,
    "transcript_bonus_statistics_info_details_achieved_text": black,
    //markdeep editor colors
    "markdeep_help_text": $default_white,
    "markdeep_help_background": $default_orange,
    "markdeep_help_border": $default_orange,
    //markdeep editor answer colors
    "markdeep_editor_add_answer_background": $default_green,
    "markdeep_editor_add_answer_text": white,
    "markdeep_editor_add_answer_background_hover": $button_background_hover,
    "markdeep_editor_add_answer_text_hover": $button_text_hover,
    "markdeep_editor_remove_answer_background": $default_red,
    "markdeep_editor_remove_answer_text": white,
    "markdeep_editor_remove_answer_background_hover": $button_background_hover,
    "markdeep_editor_remove_answer_text_hover": $button_text_hover,
    //markdeep editor answer dropdown colors
    "markdeep_editor_answer_dropdown_background": $default_blue,
    "markdeep_editor_answer_dropdown_text": white,
    "markdeep_editor_answer_dropdown_background_hover": $button_background_hover,
    "markdeep_editor_answer_dropdown_text_hover": $button_text_hover,
    "markdeep_editor_answer_dropdown_item_background": $accent_300,
    "markdeep_editor_answer_dropdown_item_text": black,
    "markdeep_editor_answer_dropdown_item_background_hover": $button_background_hover,
    "markdeep_editor_answer_dropdown_item_text_hover": $button_text_hover,
    "markdeep_editor_answer_dropdown_item_active_background": $default_green,
    "markdeep_editor_answer_dropdown_item_active_text": white,
    "markdeep_editor_answer_dropdown_item_active_background_hover": $button_background_hover,
    "markdeep_editor_answer_dropdown_item_active_text_hover": $button_text_hover,
    //notification colors
    "notification_text_smartphones": white,
    //search colors
    "search_results_background": LightGoldenRodYellow,
    "search_results_info_background": $default_grey,
    "search_results_info_text": white,
    "search_results_separator": white,
    "search_divide:": $default_grey,
    //form group colors
    "form_group_label": black,
    //cardset form colors
    "cardset_form_list_background": $athens_gray_approx,
    "cardset_form_list_text": black,
    "cardset_form_border": black,
    "cardset_form_list_background_hover": $button_background_hover,
    "cardset_form_list_text_hover": $button_text_hover,
    "cardset_form_list_background_active": $athens_gray_approx,
    "cardset_form_list_text_active": black,
    //cookie consent colors
    "cookie_consent_link": white,
    //under development modal colors
    "under_development_modal_text": white,
    "under_development_modal_background": midnightblue,
    //presentation colors
    "presentation_clock_circle": none,
    "presentation_clock_background": none,
    "presentation_clock_center_circle": red,
    "presentation_clock_hour_marks": $default_grey,
    "presentation_clock_hour_arm": $default_grey,
    "presentation_clock_minute_arm": $default_grey,
    "presentation_clock_second_arm": red,
    //modal colors
    "modal_overlay": rgba(0,0,0, 0.7),



    //"modal_background": whitesmoke,
    //"modal_background": pink,     ////mh - Wo solls hingehen -



    "modal_background": $mh_cardbackbright,     ////mh - Wo solls hingehen - Hintergrund
    "modal_text": $mh_white,          ////mh - Wo solls hingehen - Text

    "modal_checkbox_background": white,
    "modal_checkbox_border": $default_grey,
    "modal_checkbox_background_active": white,
    "modal_checkbox_border_active": $default_grey,
    "modal_checkbox_icon_active": $default_grey,

    "modal_feedback_button_card_side_background": $default_white,
    "modal_feedback_button_card_side_text": $default_orange,
    "modal_feedback_button_card_side_background_active": $default_orange,
    "modal_feedback_button_card_side_text_active": $default_white,
    //pomodoro colors
    "pomodoro_timer_fullscreen_overlay": rgba(0,0,0, 1),
    "pomodoro_timer_hand_circle": $default_orange,
    "pomodoro_timer_hand_circle_hover": $default_orange,
    "pomodoro_timer_hand_hour": white,
    "pomodoro_timer_hand_hour_hover": midnightblue,
    "pomodoro_timer_hand_min": white,
    "pomodoro_timer_hand_min_hover": midnightblue,
    "pomodoro_timer_arc": $default_orange,
    "pomodoro_timer_arc_hover": $default_orange,
    "pomodoro_timer_arc_progress": $default_red,
    "pomodoro_timer_arc_progress_hover": $default_red,
    "pomodoro_timer_arc_break": #2ac55f,
    "pomodoro_timer_arc_break_hover": #2ac55f,
    "pomodoro_timer_text": white,
    "pomodoro_timer_text_highlight": $default_orange,
    //sweet alert 2 colors
    "sweet_alert_2_title": white,
    "sweet_alert_2_text": white,
    "sweet_alert_2_modal_background": $default_green,
    "sweet_alert_2_button_confirm_background": $default_red,
    "sweet_alert_2_button_confirm_text": $default_white,
    "sweet_alert_2_button_cancel_background": $default_orange,
    "sweet_alert_2_button_cancel_text": $default_white,
    "sweet_alert_2_icon_success_border": $default_orange,
    "sweet_alert_2_icon_success_text": $default_orange,
    "sweet_alert_2_icon_warning_border": $default_orange,
    "sweet_alert_2_icon_warning_text": $default_orange,
    "sweet_alert_2_icon_error_border": $default_red,
    "sweet_alert_2_icon_error_text": $default_red,
    "sweet_alert_2_icon_info_border": $default_dark_blue,
    "sweet_alert_2_icon_info_text": $default_dark_blue,
    "sweet_alert_2_icon_question_border": white,
    "sweet_alert_2_icon_question_text": white,
    //loading screen
    "loading_screen_icon": $default_orange,
    //wozniak rating buttons
    "wozniak_rating_0_background": red,
    "wozniak_rating_0_text": white,
    "wozniak_rating_0_text_hover": $button_text_hover,
    "wozniak_rating_0_background_hover": $button_background_hover,
    "wozniak_rating_1_background": orangered,
    "wozniak_rating_1_text": white,
    "wozniak_rating_1_text_hover": $button_text_hover,
    "wozniak_rating_1_background_hover": $button_background_hover,
    "wozniak_rating_2_background": salmon,
    "wozniak_rating_2_background_hover": $button_background_hover,
    "wozniak_rating_2_text": black,
    "wozniak_rating_2_text_hover": $button_text_hover,
    "wozniak_rating_3_background": palegreen,
    "wozniak_rating_3_background_hover": $button_background_hover,
    "wozniak_rating_3_text": black,
    "wozniak_rating_3_text_hover": $button_text_hover,
    "wozniak_rating_4_background": limegreen,
    "wozniak_rating_4_background_hover": $button_background_hover,
    "wozniak_rating_4_text": white,
    "wozniak_rating_4_text_hover": $button_text_hover,
    "wozniak_rating_5_background": green,
    "wozniak_rating_5_background_hover": $button_background_hover,
    "wozniak_rating_5_text": white,
    "wozniak_rating_5_text_hover": $button_text_hover,
    //landing page
    "landing_page_wordcloud_button": darkgrey,
    "landing_page_wordcloud_button_opacity": 1.0,
    "landing_page_wordcloud_button_hover": midnightblue,
    "landing_page_wordcloud_button_opacity_hover": 1,
    "landing_page_label": darkgrey,
    //wordcloud
    "wordcloud_background": "unset",
    "wordcloud_border": "unset",
    "wordcloud_hover_box_background":transparent,
    "wordcloud_hover_box_border": white,
    //useCases
    "use_cases_button_background": transparent,
    "use_cases_button_icon": white,
    "use_cases_button_background_hover": white,
    "use_cases_button_icon_hover": black,
    "use_cases_table_header_background": transparent,
    //"use_cases_table_header_text": $default_dark_blue,
            "use_cases_table_header_text": pink,
    "use_cases_special_cardsets_button_background": $default_green,
    "use_cases_special_cardsets_button_text": white,
    "use_cases_special_cardsets_button_background_hover": midnightblue,
    "use_cases_special_cardsets_button_text_hover": white,
    //answer checkbox
    "checkbox_left_background": white,
    "checkbox_left_text": $primary_text,
    "checkbox_left_background_hover": $button_background_hover,
    "checkbox_left_text_hover": $button_text_hover,
    "checkbox_right_background": $btn_inactive,
    "checkbox_right_text": white,
    //profile
    "profile_fullscreen_checkbox_background": white,
    "profile_fullscreen_checkbox_border": $default_grey,
    "profile_fullscreen_checkbox_background_unsaved": white,
    "profile_fullscreen_checkbox_border_unsaved": $default_orange,
    "profile_fullscreen_checkbox_icon_unsaved": $default_orange,
    "profile_fullscreen_checkbox_background_active": white,
    "profile_fullscreen_checkbox_border_active": $default_green,
    "profile_fullscreen_checkbox_icon_active": $default_green,
    //notFound
    "not_found_background": white,
    "not_found_text": $primary_text,
    //gamesAndBackgrounds
    "games_and_backgrounds_overlay_background": $default_orange,
    "games_and_backgrounds_overlay_button_background": $default_orange,
    "games_and_backgrounds_overlay_button_color": black,
    "games_and_backgrounds_overlay_button_active_color": white,
    "games_and_backgrounds_overlay_carousel_button_color": black,
    "games_and_backgrounds_default_background": black,
    "games_and_backgrounds_loading_background": black,
    //flashcardsEndProgressbar
    "flashcards_end_progressbar_background": darkorange,
    );
}
